
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&family=Smooch&display=swap');
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
font-family: 'Smooch', cursive;
}
*html{margin:0;padding: 0;}

 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
   html{scroll-behavior: smooth;}
  .to_top{ position: fixed; bottom: 16px; right: 32px; border-radius: 50px; display: flex; justify-content: center; 
    align-items: center; font-weight: bolder; font-size: 40px; color: #fff; text-decoration: none; opacity: 0; 
    pointer-events: none; transition: all .4s; height: 50px; width: 50px; background-color:#86B817 ;}
 .to_top:hover{color: black;}
 .to_top.active{bottom: 32px; pointer-events: auto;opacity:1;}
 .chef{width:90px;font-weight:90px;border-radius:50px;}
.top-logo{font-size: 40px !important;color: #86B817!important;}
.border-radius-icon{border-radius: 50% !important; width: 14% !important;height: 33px !important; font-weight:500!important;padding:10px !important;}
nav ul li{position: relative;margin-right: 20px;display: flex !important;}
nav ul li a{font-size: 20px;color: #fff!important;border: none;}
.dropdown-item {color: black !important;}
nav ul li a::after{content: '';position: absolute;width: 0;height: 2px;bottom:0;left:4px;background-color: #86B817;
transition: .5s;}
.active-menu{color: #86B817!important;}
.active-menu::after{content: '';position: absolute;width: 85%;height: 1px;bottom:0;left:5px;background-color: #86B817;
 }
nav ul li a:hover{color:#86B817 !important; }
nav ul li a:hover::after{width: 90%;}
.banner-img{z-index: 1;}
.menu-btn{font-size: 20px !important; font-weight: 500 !important;background:#86B817 !important;}
.banner-images{background-image: url(../img/slide-2.jpg);background-repeat: no-repeat;background-size: cover;
  background-position:center;background-blend-mode: multiply;background-color: grey;} 
.vacated{font-family: "Nunito",sans-serif;font-weight: 800;font-size: 55px;line-height: 1.2;}
.vacated23{font-size:22px;}
.search{top:0;margin-top: 2px;right: 3px;background:#86B817 !important;font-size: 18px !important;font-weight: 500 !important;
color: #ffffff !important; }





.top-container {padding: 0px;text-align: center;}
.header {padding: 10px 16px;background: black;color: #333;}
.content {padding: 100px;}
.sticky {position: fixed;top: 0;width: 100%;background-color: black;z-index: 99;}
.sticky + .content { padding-top: 102px;}

/*******about section ******/
.about-title h6{color:#86B817!important;text-transform: uppercase;font-size: 18px; position: relative;}

.about-title h1{font-family: "Nunito",sans-serif;font-weight: 800;color: #2C3E50;}
.about-title h1 span{color: #86B817;}
.about-title p{color: grey;font-size: 17px;font-weight: 400;}
.about-content i{color:#86B817; }
.about-read{font-weight: 500 !important;background-color: #86B817 !important;float: left !important;font-weight: 500 !important;
font-size: 20px;}

/*****our services*****/
.second-title h6{text-transform: uppercase;font-size: 20px;font-weight: 500;position: relative;color: #86B817;text-align: center;}

.second-title h5{font-size: 40px;font-weight: 700;text-align: center;}

.services-details{display: flex;flex-wrap: wrap;}
.column{width: 100%;padding: 0 0em 1em 1em;}
.services-card{border:2px solid #86B817;box-shadow: 0 0 5px 0 rgb(74, 164, 74);width: 100%;height: 100%;
padding: 2em 1.5em;background:linear-gradient(#ffffff 50%, #86B817 50%);
background-size: 100% 200%;background-position: 0 1%;border-radius: 5px;box-shadow: 0 0 35px rgba(0,0,0,0,12);
cursor: pointer;}
.services-card h3{font-size: 23px;font-weight: 700;color: #1f194c;margin: 1em 0;}
.services-card p{color: #11051b;font-size: 16px;line-height: 1.6;letter-spacing: 0.03em;font-weight: 500;}
.icon-wrapper{position: relative;font-size: 20px;height: 2.5em;width: 2.5em;color: #ffffff;display: grid;
  place-items:center;transition: 0.9s;color: #86B817;}
.services-card:hover{background-position: 0 100%;transition: 0.5s}
.services-card:hover .icon-wrapper{color: #fff;}
.services-card:hover h3{color: #ffffff;}
.services-card:hover p{color: #f0f0f0;}


.packages-item{box-shadow: 0 0 45px rgba(0,0,0,.08);padding-bottom: 40px !important;}
.img-fluid{max-width: 100%;height: auto;}
 .img-fluid:hover{zoom-in:106% !important;transform: scale(1.1)!important;transition: 2s;}
.img1-fluid-content{top: 0; margin: 15px;padding:4px 10px 4px 10px;font-weight: 700;}
.img1-fluid-content2{bottom: 0;right: 0;margin: 15px;padding: 4px 6px 4px 6px;font-weight: 700;}
.border-end{border-right: 1px solid #dee2e6!important;border-bottom:1px solid #dee2e6!important;font-size: 18px;}
.border-end i{color:#86B817 !important; }
.border-bottom{border-bottom: 1px solid #dee2e6!important;font-size: 18px;}
.border-bottom i{color:#86B817 !important; }
.doller h3{font-weight: 700 !important;}
.doller-icon small{font-size: 20px;color: #86B817 !important;}
.doller p{font-size: 17px !important;}
.read-btn{border-radius:30px 0 0 30px !important;background-color:#86B817 !important;
  color: #fff !important;font-weight: 500 !important;font-size: 18px !important; }
.book-btn{border-radius:0 30px 30px 0px !important;background-color: #86B817 !important;color: #fff !important;font-weight: 500 !important;font-size: 18px !important;}


.booking{background:linear-gradient(rgba(15,23,43,.7),rgba(15,23,43,.7)),url(../img/booking.jpg);background-size: cover;
background-repeat: no-repeat;background-position: center;}
.book-form{/display: flex !important; }
.select-box{width: 100%;height: 49px;background-color: transparent;border:1px solid #fff;border-radius: 5px;color: #353535 !important;}

.destination-card{width: 100px;height: 100px;top: -50px;}
.travel-packages-item{box-shadow: 0 0 45px rgba(0,0,0,.08);padding-bottom: 40px !important;}
.travel-packages-item .btn{background:#fff;color:#86B817;border-radius: 20px;border-bottom: 1px solid #86B817;}
.img-fluid{max-width: 100%;height: auto;}
.travel h3{font-weight: 700 !important;}
.travel p{font-size: 17px !important;}
.travel-icon small{font-size: 17px;color: grey !important;}
.travel-img-icon{width: 38px;height: 38px;margin-left: 5px;}

.process-title h6{text-transform: uppercase;font-size: 20px;font-weight: 500;position: relative;color: #86B817;text-align: center;}
.process-title h5{font-size: 40px;font-weight: 700;text-align: center;}

.process-details{display: flex;flex-wrap: wrap;margin-top: 100px;}
.process-column{width: 100%;padding: 0 0em 1em 1em;}
.process-card{border:2px solid #86B817;box-shadow: 0 0 5px 0 rgb(74, 164, 74);width: 100%;height: 100%;
padding: 1em 1em;background:linear-gradient(#ffffff 50%, #86B817 50%);
background-size: 100% 200%;border-radius: 5px;box-shadow: 0 0 35px rgba(0,0,0,0,12);
cursor: pointer;}
.process-card h3{font-size: 23px;font-weight: 700;color: #1f194c;margin: 1em 0;}
.process-card p{color: #11051b;font-size: 16px;line-height: 1.6;letter-spacing: 0.03em;font-weight: 500;}
.process-icon-wrapper{position: relative;font-size: 20px;height: 2.5em;width: 2.5em;color: #ffffff;display: grid;
  place-items:center;transition: 0.9s;color: #86B817;}
.process-icon-bg{width: 100px;height: 100px;background-color: #86B817;color: #ffffff;margin: -70px auto;border-radius: 50%;}
.process-card1{margin-top: 80px !important;}

.client_review_main
{
  background-color:   #ecf9ec;
  padding: 80px 0;
}
.client_review{
  display: flex;
  justify-content: center;
  text-align: center;
}
.client_review h5{
  letter-spacing: 5px;
}

    .p_tag_for_client_review{
      text-align: center;
      font-size: 17px;
    }
    .carousel_main{display: flex;justify-content: center;align-items: center;    }
       .carousel_card{text-align: center;margin-bottom: 35px;background-color: #86B817;position: relative;padding: 10px;}
       .for_carousel_img{width: 100px;height: 100px; border-radius:50%; margin-bottom:10px;display: flex;justify-content: center;align-items: center; margin-top:10px;}
       .for_carousel_img i{font-size: 90px;color: #fff;}
       .star_color{
        color: yellow;
       }
       .owl-dots{
        text-align: center;
        margin-top: 30px;
       }
       .owl-dot{
        height: 15px;
        width: 15px;
        border-radius: 10px;
        border: 2px solid #86B817!important;
        cursor: pointer;
        outline: none;
        transition: all 0.3 ease;
       }
       .owl-dot:hover,.owl-dot.active{
        background: #86B817!important;
        width: 15px;
       }
       .padd{padding-top: 0px;}
       .cotation_last{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 1px 2px 5px gray;
        display: flex;
        justify-content: center;
       align-items: center;
        position: absolute;
        bottom: -30px;
        right: 30px;
        background-color: white;
       }
       .cotation_last p{font-size: 60px;color: red;margin-top:auto;}

/* not found page 404 start*/
.not-found-icon{font-size: 100px !important;color: #86B817 !important;}
.not-found-text1{font-size: 60px;color: #14141F !important;}
.not-found-text2{font-size: 40px;color: #14141F !important;}
.not-found-text3{font-size: 16px;}
.back-home-btn{background-color:#86B817!important ;}
.footer{background-color: #14141F!important;}
.footer .btn-social{width: 35px;height: 35px;align-items: center;justify-content: center;display: flex;font-weight: 500;
border-radius: 35px;transition: .3s;border:1px solid #fff;margin-right: 5px;color: #ffffff;}
.sign{top: 8px !important;right: 8px !important;padding: 8px 15px 8px 15px;}
.email-place{padding: 26px 20px 26px 20px !important;}

.footer-email{border: 1px solid #86B817 !important;}
.footer-sign{background-color: #86B817!important;}
.footer-last{border-top: 1px solid rgba(256,256,256,.1);}
.footer-menu ul{text-decoration: none;}
.footer-menu ul li{display: inline-block;margin-right: 10px;}
.footer-menu ul a{color: #fff ;}
.bradcrumb li{display: inline-block !important;}
.location_icon i{width: 45px;height: 45px;background-color: #86B817;display: flex;justify-content: center;text-align: center;align-items: center;font-size: 20px;
color: #f0f0f0;}

/********login******/
.login-user a{text-decoration: none !important;}


.arrow{position: fixed;bottom: 5px;right: 5px;}
.arrow i{width: 40px;height: 40px;background: #86B817;text-align: center!important;padding: 10px;font-size: 20px;
  color: #fff;}
.arrow i:hover{background:#d8de18 !important;color: #fff; }

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 75px;
  right: 10px;
  width: 280px;
  z-index: 9;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.login-to-regis a:hover{text-decoration: none;}

.registration-bg{background-image: url(../img/images.jpeg);width: 100%;height: 100vh;background-position: center;background-size: cover;background-repeat: no-repeat;}


/* Full-width input fields */
.registration-all input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 0 0 5`px 0;
  display: inline-block;
  border: none;
 
}

.registration-all input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.registerbtn {
  background-color: #3055ba;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 2px;
}
.registration-form{margin-left: 26%;margin-top: 3%;}
.registration-all{background-color: #fff;border-radius: 12px;}
.registration-all input{background-color: #b9b7b7;}
/* admin page end  */
 
.hidden,
[hidden] {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
 
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}